html, body { 
  height: 100%; 
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;
}
  body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); 
}
.addv {
       top:35%;
       left:5%;
       position: absolute;
       }
 .adde {
       top:43%;
       left:5%;
       position: absolute;
       }
    .colorb {
       top:35%;
       right:5%;
       position: absolute;
       }
    .pal1 {
       top:43%;
       right:5%;
       position: absolute;
    }
.pal2 {
       top:51%;
       right:5%;
       position: absolute;
       }
    .pal3 {
       top:59%;
       right:5%;
       position: absolute;
       }
    .bfs {
       bottom:5%;
       left:40%;
       position: absolute;
       }
    .dfs {
       bottom: 5%;
       right: 40%;
       position: absolute;
       }
    .reset {
       top:10%;
       right:5%;
       position: absolute;
       }
      
.dropbox{
    height: 3rem;
    width: 3rem;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    margin: 2rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 40px white;
    animation: glowup 0.5s;
    transition: 0.5s;
}

.d1{
    position: absolute;
    left: 50%;
    top: 50%;
}

.line{
    height: 10px;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    animation: fadein 0.5s;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.btn {
  background:linear-gradient(to bottom, #bc80ea 5%, #440060 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
  
  .btn:hover {
    background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
  }
.btn:active {
	position:relative;
	top:1px;
}

@keyframes glowup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    100%{
        width: 3rem;
        height: 3rem;
    }

}
