.dropbox{
    height: 5rem;
    width: 5rem;
    background-color: grey;
    display: inline-block;
    margin: 2rem;
    justify-content: center;
    float: left;
}

.dropbox2{
    height: 5rem;
    width: 5rem;
    background-color: grey;
    margin: 2rem;
    border-radius: 1rem;
    text-align: center;
}


.d1{
    position: absolute;
    left: 50%;
    top: 50%;
}

.line{
    background-color: red;
}



